<div class="text-left pb-6 pt-6">
    <input required value="<%= product.name %>"  class="border border-gray-400 p-2 w-1/2 mb-4 ml-4" type="text" name="name" id="name"
    placeholder="Name">
    <input required value="<%= product.image %>" class="border border-gray-400 p-2 w-1/2 mb-4 ml-4" type="text" name="image" id="image"
    placeholder="Image">
    <input required value="<%= product.price %>" class="border border-gray-400 p-2 w-1/2 mb-4 ml-4" type="text" name="price" id="price"
    placeholder="Price">
</div>

<hr class="bg-black">

<div class="pt-4">
    <button class="text-center px-6 py-2 bg-black text-white w-1/5" type="submit"><a href="/views/eub"> Cancel</a></button>
    <button class="text-center px-6 py-2 bg-black text-white w-1/5" type="submit">Add</button>
</div>